/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header__container{
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__container .header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

.header__container { 
  text-align: center;
}

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.content__input_text,
.content__list_label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.content__task_wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
.title {
  list-style: none;
}
.content__input_text,
.content__list_input-checkbox,
.content__button {
  outline: none;
}
.content__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.content__button:hover {
  color: #3a3a3a;
}
/* Heading */
.content__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.content__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.content__input_text {
  color: #333;
}

/* New Task */
.content__title_add {
  /* display: block; */
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.content__list_item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__list_item > * {
  vertical-align: middle;
}

.content__list_input-checkbox {
  margin: 0 10px;
}
.content__list_item > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.content__input_text {
  width: 226px;
}
.content__image_remove {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.content__image_remove:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .content__list_label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.content__list_item .content__input_text {
  display: none;
}

.content__edit_mode .content__input_text {
  display: inline-block;
  width: 224px;
}

.content__edit_mode .content__list_label {
  display: none;
}